PORT=3000
NODE_ENV=development

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=skillswap

TYPEORM_SYNCHRONIZE=true
TYPEORM_LOGGING=false

JWT_SECRET=your-super-secret-jwt-key-change-this
JWT_REFRESH_SECRET=your-super-secret-refresh-key-change-this
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

HASH_SALT=10

# Admin seeding
ADMIN_NAME=Admin
ADMIN_EMAIL=admin@admin.ru
ADMIN_PASSWORD=admin1234

EMAIL_SERVICE_URL=http://localhost:3001

#Oauth Yandex
 CLIENT_ID=client_id
 CLIENT_SECRET=secret
 CALLBACK_URL=callback_url

FRONTEND_URL=http://localhost:5173
